@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar flechas en Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar flechas en Firefox pero sin afectar la escritura */
input[type="number"] {
  -moz-appearance: textfield;
  /* Esto quita las flechas, pero conserva la funcionalidad de escribir */
  text-align: left;
  /* Asegura que el texto esté alineado correctamente */
}

/* Estilizar todos los scrollbars */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c7c7;
  border-radius: 5px;
  /* Opcional: para bordes redondeados */
}

/* Opcional: para manejar hover en el scrollbar */
*::-webkit-scrollbar-thumb:hover {
  background-color: #343a40;
}

/* Title background letters */
#title {
  text-shadow: 4px 3px rgb(105, 179, 248);
}

/* Animation CSS */
.animation-fade {
  animation: fadeIn 1s;
}

.animation-balance {
  animation: balance 2s infinite alternate ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes balance {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}